.tieude img {
  width: 75%;
  display: block; margin-left: auto; margin-right: auto;
}
.menu {

  height: 2.6em;
  width: 100%;
  margin-left: 25%;
}
.myDropdown button {
  color: blue;
  background-color:white;
  border: none;
  margin:auto;
}
.myCard {
    float: left;
    width: 23%;
    margin: 1em 1% 0 1%;
    height: 21.5em;
}
.myCard img {
    height: 12em;
}
.chantrang {
    margin: 46em 1% 0 0;
}
.container {
    width: 50%;
    margin: 1em 0 0 25%;
}
.stars {
  width: 37%;
  display: inline-block;
  margin: 0 0 0 0;
}
 
input.star {
   display: none;
}
 
label.star {
  font-size: 30px;
  color: #444;
  transition: all .2s;
}
 
input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}
 
input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 10px #952;
}
 
input.star-1:checked ~ label.star:before { color: #F62; }
 
label.star:hover { transform: rotate(-15deg) scale(1.3); }
 
label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
.container form h4 {
  color: red;
}