<div class = "body">
    <div class="tieude">
        <img src="assets\images\banner.png">
    </div>
    <div class="row menu">
        <div class="col-xs-8 col-md-5">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['/assignment']">Online training</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/gioithieu']">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/lienhe']">Liên hệ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/gopy']">Góp ý</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/hoidap']">Hỏi đáp</a>
                </li>
            </ul>
        </div>
        
        <div class="col-xs-2 col-md-1">
            <div class="dropdown dropleft user">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{Student.username}}
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="['/doimatkhau']">Quên mật khẩu</a>
                    <a class="dropdown-item" [routerLink]="['/taikhoan']">Cập nhật tài khoản</a>
                    <a class="dropdown-item" [routerLink]="['/doimatkhau']">Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>
    <div class="contrainer">
        <div class="containerleft">
            <div class="top">
                <div class="card text-center myCard" *ngFor="let i of danhmucmonhoc | paginate: {itemsPerPage: pagesize, currentPage: pagecurrent}">
                    <div class="card-body">
                        <img src={{i.Logo}} class="myImg">
                    </div>
                    <div class="card-footer text-muted">
                        <a [routerLink]="['/danhmucmonhoc', i.Id]">{{i.Name}}</a>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <i class='far fa-hand-point-up' style="margin: 0 2% 0 2%; font-size: 150%;" (click) = 'home()'></i>
                <i class='far fa-hand-point-right' style="margin: 0 2% 0 2%; font-size: 150%" (click) = 'next()'></i>
                <i class='far fa-hand-point-down' style="margin: 0 2% 0 2%; font-size: 150%" (click) = 'end()'></i>
                <i class='far fa-hand-point-left' style="margin: 0 2% 0 2%; font-size: 150%" (click) = 'previrous()'></i>
            </div>
            <ul>
                <li *ngFor = "let i of student">{{i.fullname}}</li>
            </ul>
        </div>
        <div class="containerright">
            <li class="list-group-item dmmh"><i class='fas fa-th-large'></i>Danh mục môn học</li>
            <ul class="list-group" *ngFor = "let i of danhmucmonhoc">
                <a [routerLink]="['/danhmucmonhoc', i.Id]"><li class="list-group-item">{{i.Name}}</li></a>
            </ul>
        </div>
    </div>
</div>
    