<div class = "body">
        <div class="tieude">
            <img src="assets\images\banner.png">
        </div>
        <div class="row menu">
            <div class="col-xs-8 col-md-5">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" [routerLink]="['/assignment']">Online training</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/gioithieu']">Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/lienhe']">Liên hệ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/gopy']">Góp ý</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/hoidap']">Hỏi đáp</a>
                    </li>
                </ul>
            </div>
           
            <div class="col-xs-2 col-md-1">
                <div class="dropdown dropleft user">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tài khoản
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/dangnhap']">Đăng nhập</a>
                        <a class="dropdown-item" [routerLink]="['/doimatkhau']">Quên mật khẩu</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container"> 
            <h1>Đăng kí thành viên:</h1>
            <form class="form" role="form">            
                <input class="form-control" placeholder="Họ và tên" required="" autofocus="" type="text" [(ngModel)]="newuser.fullname" [ngModelOptions]="{standalone: true}"> 
                <input class="form-control" placeholder="Email" type="email" [(ngModel)]="newuser.email" [ngModelOptions]="{standalone: true}">
                <input class="form-control" placeholder="Username" required="" autofocus="" type="text" [(ngModel)]="newuser.username" [ngModelOptions]="{standalone: true}"> 
                <input class="form-control" placeholder="Mật khẩu" type="password">
                <input class="form-control" placeholder="Nhập lại mật khẩu" type="password" [(ngModel)]="newuser.password" [ngModelOptions]="{standalone: true}">
                <label for=""> Ngày sinh: </label> 
                <input class="form-control" name="dayofbirth" placeholder="Nhập lại mật khẩu" type="date" [(ngModel)]="newuser.birthday" [ngModelOptions]="{standalone: true}">
                <div class="gioitinh">
                    <label for="">Giới tính:</label> 
                    <select class="form-control" [(ngModel)]="newuser.gender" [ngModelOptions]="{standalone: true}">           
                        <option value="true">Nam</option>
                        <option value="false">Nữ</option>
                        <option value="none">Không xác định</option>
                    </select> 
                </div> 
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary signup" data-toggle="modal" data-target="#exampleModal" (click) = 'dangki()'>
                    Đăng kí
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf = "show">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Đăng kí thành công</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Xin chào {{newuser.fullname}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" [routerLink]="['/dangnhap']" data-dismiss="modal" (click) = 'Adduser()'>Chuyển sang trang đăng nhập</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf = "!show">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Đăng kí thất bại.</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Tên tài khoản đã tồn tại.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Vui lòng đăng kí lại</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
    </div>
</div>
