<div class = "body">
    <div class="tieude">
        <img src="assets\images\banner.png">
    </div>
    <div class="row menu">
        <div class="col-xs-8 col-md-5">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['/assignment']">Online training</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/gioithieu']">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/lienhe']">Liên hệ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/gopy']">Góp ý</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/hoidap']">Hỏi đáp</a>
                </li>
            </ul>
        </div>
        
        <div class="col-xs-2 col-md-1">
            <div class="dropdown dropleft user">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tài khoản
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="['/taikhoan']">Cập nhật tài khoản</a>
                    <a class="dropdown-item" [routerLink]="['/dangnhap']" (click) = 'dangxuat()'>Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container"> 
        <h1>Đổi mật khẩu: </h1>
        <form class="form" role="form">
            <div class="form-group">
                <label for="exampleInputAccount">Email của bạn: {{email}}</label>
                <input type="text" class="form-control" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
                <label for="inputOldPassword">Tên tài khoản: </label>
                <input type="text" class="form-control" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
                <label for="inputReNewPassword">Mật khẩu mới:</label>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputReNewPassword">Nhập lại mật khẩu mới:</label>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" [(ngModel)]="repassword" [ngModelOptions]="{standalone: true}">
                </div>
            </div>

            <button type="button" class="btn btn-primary change" data-toggle="modal" data-target="#exampleModal" (click) = 'thaydoi()'>
                Thay đổi
            </button>
    
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf = "show">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Đổi mật khẩu thành công.</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Vui lòng đăng nhập lại sau khi đổi mật khẩu thành công.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" [routerLink]="['/dangnhap']" data-dismiss="modal">Tiếp tục</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
