<div class = "body">
    <div class="tieude">
        <img src="assets\images\banner.png">
    </div>
    <div class="row menu">
        <div class="col-xs-8 col-md-5">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['/assignment']">Online training</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/gioithieu']">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/lienhe']">Liên hệ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/gopy']">Góp ý</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/hoidap']">Hỏi đáp</a>
                </li>
            </ul>
        </div>
        
        <div class="col-xs-2 col-md-1">
            <div class="dropdown dropleft user">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tài khoản
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="['/dangki']">Đăng kí</a>
                    <a class="dropdown-item" [routerLink]="['/dangnhap']">Đăng nhập</a>
                    <a class="dropdown-item" [routerLink]="['/doimatkhau']">Quên mật khẩu</a>
                </div>
            </div>
        </div>
    </div>

    <div class="contrainer">
        <div class="card myCard">
            <img src="assets\3908.jpg_wh860.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Thi cuối học kì 1 2019-2020 Lập trình web</h5>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card myCard">
            <img src="assets\cai-dat-mang-may-tinh_.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Kiểm tra Cơ sở dữ liệu</h5>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card myCard">
            <img src="assets\CTTNa.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Thi giữa kì 1 2019-2020 Lập Trình Android</h5>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card myCard">
            <img src="assets\Hinh nen cong nghe.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bài tập lớn Điện toán đám mây</h5>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div><div class="card myCard">
            <img src="assets\images.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bài tập trắc nghiệm Lập trình PHP</h5>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card myCard">
            <img src="assets\img20170803160117635-e7a97.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Thi cuối kì 3 2018-2019 Internet Maketing</h5>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card myCard">
            <img src="assets\powerpoint-cong-nghe-thong-tin-2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Thi giữa kì 3 2018-2019 Lập trình hướng đối tượng Java</h5>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card myCard">
            <img src="assets\Untitled.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Thi cuối kì 2 2018-2019 Lập trình ASP.NET</h5>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
    <div class="chantrang">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
