<div class = "body">
        <div class="tieude">
            <img src="assets\images\banner.png">
        </div>
        <div class="row menu">
            <div class="col-xs-8 col-md-5">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" [routerLink]="['/assignment']">Online training</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/gioithieu']">Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/lienhe']">Liên hệ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/gopy']">Góp ý</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/hoidap']">Hỏi đáp</a>
                    </li>
                </ul>
            </div>
           
            <div class="col-xs-2 col-md-1">
                <div class="dropdown dropleft myDropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tài khoản
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/dangki']">Đăng kí</a>
                        <a class="dropdown-item" [routerLink]="['/dangnhap']">Đăng nhập</a>
                        <a class="dropdown-item" [routerLink]="['/doimatkhau']">Quên mật khẩu</a>
                    </div>
                </div>
            </div>
        </div>
    <div class="contrainer">
        <div>
            Hiểu một cách đơn giản, các website dạy học trực tuyến (tiếng Anh là E-Learning) là một phương pháp giáo dục tiên tiến nhất hiện nay, nó không chỉ phục vụ cho nhu cầu tìm kiếm thông tin, tài liệu học tập, là nơi giao lưu, trao đổi kiến thức giữa các thành viên, mà còn là nơi để những người có chuyên môn tổ chức các lớp học trực tuyến, chia sẻ những kinh nghiệm, khóa học bổ ích, bồi dưỡng từ kỹ năng đến kiến thức, cách bán hàng, quảng cáo và marketing thông qua các buổi live stream chia sẻ.

So với các phương pháp giáo dục truyền thống, mô hình này là một bước phát triển vượt bậc của xã hội loài người, bởi nó tận dụng tối đa sức mạnh của công nghệ thông tin vào sự nghiệp giáo dục và đào tạo. Giờ đây, thay vì phải đến lớp và ngồi trong một không gian chật hẹp, nóng bức, người học chỉ cần ngồi ngay tại nhà, tận hưởng làn khí mát từ chiếc máy lạnh mà vẫn có thể nghe giảng bài một cách hiệu quả. Đặc biệt là về tính chất đa dạng của các khóa học, bạn có thể học sale, học làm giàu, học làm marketing cho đến ngoại ngữ, lập trình đều được, tất cả đều có trên web bán khóa học online.Theo thời gian, hình thức này đang trở nên ngày càng phổ biến hơn, nó bắt đầu được ứng dụng trong hàng loạt lĩnh vực khác nhau, đặc biệt là học tiếng anh trực tuyến, bởi nhu cầu phát triển kiến thức và kỹ năng sử dụng ngoại ngữ trong cộng đồng là rất lớn.

Thậm chí, tại một số quốc gia tiên tiến, những học sinh – sinh viên không có điều kiện để đến lớp, hay chỉ đơn giản là không muốn ngồi trong giảng đường thì có thể sử dụng trang E-learning để học. Với công nghệ được xem là tiên phong, chất lượng giáo dục từ xa vẫn luôn được đảm bảo dù phải học từ xa như vậy. Những video hay những buổi live stream ngay trên website sẽ thay thế những bài giảng trực tiếp của giảng viên.

Tại Việt Nam, mặc dù mới manh nha phát triển trong vài năm trở lại đây, thế nhưng thị trường thiết kế website cho ngành giáo dục đã nhanh chóng trở nên cực kỳ sôi động. Hàng loạt công nghệ lập trình cũng như những phong cách thiết kế giao diện mới đã được ứng dụng, tất cả giúp cho các trang web học online ngày càng chuyên nghiệp và hiện đại hơn, nhờ đó mà tạo được ấn tượng rất tốt với người học. Server mạnh mẽ với chi phí tốt, công nghệ live stream bài giảng ngay trên website là 2 yếu tố lớn giúp các trang e-learning phát triển mạnh.
        </div>    
</div>
</div>
