<div class = "body">
    <div class="tieude">
        <img src="assets\images\banner.png">
    </div>
    <div class="row menu">
        <div class="col-xs-8 col-md-5">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['/assignment']">Online training</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/gioithieu']">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/lienhe']">Liên hệ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/gopy']">Góp ý</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/hoidap']">Hỏi đáp</a>
                </li>
            </ul>
        </div>
        
        <div class="col-xs-2 col-md-1">
            <div class="dropdown dropleft user">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tài khoản
                </button>
                <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/doimatkhau']">Quên mật khẩu</a>
                        <a class="dropdown-item" [routerLink]="['/dangnhap']" (click) = 'dangxuat()'>Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container"> 
        <h1>Thông tin tài khoản:</h1>
        <form class="form" role="form"> 
            <div class="input-group">
                <label>Fullname: </label>
                <input type="text" class="form-control" [(ngModel)]="Student.fullname" [ngModelOptions]="{standalone: true}" disabled *ngIf = "showfullname">
                <input type="text" class="form-control" [(ngModel)]="Student.fullname" [ngModelOptions]="{standalone: true}" *ngIf = "!showfullname">
                <div class="input-group-append myButton" id="button-addon4">
                    <button class="btn btn-outline-secondary" type="button" *ngIf = "showfullnamebutton" (click) = 'refullnamebutton()'><i class="fa fa-edit"></i></button>
                    <button class="btn btn-outline-secondary" type="button" *ngIf = "!showfullnamebutton" (click) = 'refullname()'><i class='fas fa-check'></i></button>
                </div>
            </div>
            <div class="input-group">
                <label for="">Email: </label> 
                <input type="email" class="form-control" [(ngModel)]="Student.email" [ngModelOptions]="{standalone: true}" disabled *ngIf = "showemail">
                <input type="email" class="form-control" [(ngModel)]="Student.email" [ngModelOptions]="{standalone: true}" *ngIf = "!showemail">
                <div class="input-group-append myButton" id="button-addon4">
                    <button class="btn btn-outline-secondary" type="button" *ngIf = "showemailbutton" (click) = 'reemailbutton()'><i class="fa fa-edit"></i></button>
                    <button class="btn btn-outline-secondary" type="button" *ngIf = "!showemailbutton" (click) = 'reemail()'><i class='fas fa-check' ></i></button>
                </div>
            </div>    
            <div class="input-group">
                <label for="">Birthday: </label> 
                <input type="date" class="form-control" [(ngModel)]="Student.birthday" [ngModelOptions]="{standalone: true}" disabled *ngIf = "showbirthday">
                <input type="date" class="form-control" [(ngModel)]="Student.birthday" [ngModelOptions]="{standalone: true}" *ngIf = "!showbirthday">
                <div class="input-group-append myButton" id="button-addon4">
                    <button class="btn btn-outline-secondary" type="button" *ngIf = "showbirthdaybutton" (click) = 'rebirthdaybutton()'><i class="fa fa-edit"></i></button>
                    <button class="btn btn-outline-secondary" type="button" *ngIf = "!showbirthdaybutton" (click) = 'rebirthday()'><i class='fas fa-check' ></i></button>
                </div>
            </div>   
            <div class="gioitinh">
                <label for="">Giới tính</label> 
                <select class="form-control" [(ngModel)]="Student.gender" [ngModelOptions]="{standalone: true}" disabled *ngIf = "showgender">           
                    <option value="true">Nam</option>
                    <option value="false">Nữ</option>
                    <option value="none">Không xác định</option>
                </select> 
                <select class="form-control" [(ngModel)]="Student.gender" [ngModelOptions]="{standalone: true}" *ngIf = "!showgender">           
                    <option value="true">Nam</option>
                    <option value="false">Nữ</option>
                    <option value="none">Không xác định</option>
                </select> 
                <div class="input-group-append myButton" id="button-addon4">
                    <button class="btn btn-outline-secondary" type="button" *ngIf = "showgenderbutton" (click) = 'regenderbutton()'><i class="fa fa-edit"></i></button>
                    <button class="btn btn-outline-secondary" type="button" *ngIf = "!showgenderbutton" (click) = 'regender()'><i class='fas fa-check' ></i></button>
                </div>
            </div> 
            <div class="input-group">
                <label for="">Điểm: </label> 
                <input type="email" class="form-control" [(ngModel)]="Student.marks" [ngModelOptions]="{standalone: true}" disabled>
                <div class="input-group-append myButton" id="button-addon4">
                    <button class="btn btn-outline-secondary" type="button" [routerLink]="['/xemlai']"><i class="fa fa-edit"></i></button>
                </div>
            </div>
            <div class="alert alert-primary hocphi">
                Học phí: {{Student.schoolfee}}
            </div>
        </form>
    </div>
</div>
